@model IEnumerable<Nextwo.Models.Client>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/DashbordLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Client</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <th>
                <img src="@Url.Content(item.ClientImg)" alt="insimg" Style="width:100px;height:100px" />
                
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ClientId" class="btn btn-success">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ClientId" class="btn btn-dark">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
