@model IEnumerable<Nextwo.Models.Instructor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/DashbordLayout.cshtml";
}

<h2>Instructors</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Instructor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorPosition)
            </th>

           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorName)
            </td>
            <td>
                <img src="@Url.Content(item.InstructorImg)" alt="insimg" Style="width:100px;height:100px" />
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorPosition)
            </td>
        
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstructorId" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.InstructorId" class="btn btn-success">Details</a>
                <a asp-action="Delete" asp-route-id="@item.InstructorId" class="btn btn-dark">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
